<h2>管理者ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
　<div class="field row">
    <div class="col-xs-3">
      <%= f.label :email,"メールアドレス" %>
    </div>
    <div class="col-xs-6">
       <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'col-xs-12' %>
    </div>
  </div>

  <div class="field row">
    <div class="col-xs-3">
      <%= f.label :password,"パスワード" %>
    </div>
    <div class="col-xs-6">
       <%= f.password_field :password, autocomplete: "current-password",class:'col-xs-12' %>
    </div>
  </div>

  <div class="field row">
    <%= f.submit "ログイン",class:'btn btn-primary col-xs-2 col-xs-offset-5'  %>
  </div>

<% end %>

