<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row field">
    <div class="col-xs-2">
      <%= f.label :last_name, "名前" %> 
    </div>
    <div class="col-xs-2">
      <p style='text-align: right;'>(姓)</p>
    </div>
    <div class="col-xs-3">
      <%= f.text_field :last_name,class:'col-xs-12' %>
    </div>
    <div class="col-xs-5">
      <div class="col-xs-3">
        <p style='text-align: right;'>(名)</p>
      </div>
      <div class="col-xs-7">
         <%= f.text_field :first_name,class:'col-xs-12' %>
      </div>
    </div>
  </div>

  <div class="row field">
    <div class="col-xs-2">
       <%= f.label :last_name_kana, "フリガナ" %>
    </div>
    <div class="col-xs-2">
      <p style='text-align: right;'>(セイ)</p>
    </div>
    <div class="col-xs-3">
      <%= f.text_field :last_name_kana,class:'col-xs-12' %>
    </div>
    <div class="col-xs-5">
      <div class="col-xs-3">
        <p style='text-align: right;'>(メイ)</p>
      </div>
      <div class="col-xs-7">
         <%= f.text_field :first_name_kana,class:'col-xs-12' %>
      </div>
    </div>
  </div>

  <div class="row field">
    <div class="col-xs-3">
      <%= f.label :email,"メールアドレス" %>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
       <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'col-xs-12' %>
    </div>
  </div>

  <div class="row field">
    <div class='col-xs-3'>
       <%= f.label :postal_code,"郵便番号(ハイフンなし)"%>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
       <%= f.text_field :postal_code,class:'col-xs-12' %>
    </div>
  </div>

  <div class="row field">
    <div class='col-xs-3'>
       <%= f.label :address,"住所"%>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
        <%= f.text_field :address,class:'col-xs-12' %>
    </div>
  </div>

  <div class="row field">
     <div class='col-xs-3'>
       <%= f.label :phone_number,"電話番号(ハイフンなし)"%>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
      <%= f.text_field :phone_number,class:'col-xs-12' %>
    </div>
  </div>

  <div class="row field">
    <div class='col-xs-3'>
      <%= f.label :password,"パスワード"%>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
      <%= f.password_field :password, autocomplete: "new-password",class:'col-xs-12' %>
    </div>
  </div>

  <div class="row field">
    <div class='col-xs-3'>
       <%= f.label :password_confirmation,"パスワード(確認用)"%>
    </div>
    <div class="col-xs-3 col-xs-offset-1">
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class:'col-xs-12' %>
    </div>
  </div>

  <div class="row field">
    <%= f.submit "新規登録",class:'btn btn-success col-xs-2 col-xs-offset-5'  %>
  </div>
<% end %>

<section>
  <h3>既に登録済みの方</h3>
  <p><%=link_to "こちら",new_end_user_session_path%>　からログインしてください。</p>
</section>

<%#<%= render "end_users/shared/links" %>
